html, body {
  height: 100%;
  margin: 0;
  padding: 0;  
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px; 
}

.statistics .map {
  margin: 30px auto 0 auto;
  height: 400px;
  width: 1000px;
}

.date-pickers {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-pickers .container {
  margin: 0 5%;
}

.accidents-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-stat {
  margin: 20px 0;
}

.plot-hint {
  background-color: black;
  padding: 5px 10px 5px 10px;
}
